<header>
  <!-- <div style="background-color: rgb(34, 83,136);">
    <div class="container" id="top-container">
      <div class="row mt-3 align-items-center">
        <div class="col-sm-5 col-lg-3">
          <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/laser-pulse-white.png" class="img-fluid" alt="LASER PUlSE"></a>
          
        </div>
        <div class="col-md-7 col-lg-9">
          <h5 id="egm-tagline" style="color:white">Blindspots in collaborations, discussion guides, & resouce materials to improve research partnerships</h5>
          <!-- <p style="color:lightgray">
            This toolkit is organized by blindspot, which is a potential area of conflict due to
            different perspectives of each person involved in a research partnership. Since researchers and
            practitioners have different world views, experiences, and needs these blindspots can occur. Each
            blindspot presents a caricature of what an academic researcher and a practitioner might say and a
            suggested convergence point, or perspective that can ease conflict and improve the partnership.
          </p> 
        </div>
      </div>
    </div>
  </div> -->
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-sm" style="background-color: rgb(34, 83,136); margin: 0;"> 
    <!--    <a class="navbar-brand" href="index.html">PSE Evidence Gap Map</a> -->
    <a class="navbar-brand" href="#"><img height="60"  src="{{ .Site.BaseURL }}images/laser-pulse-white.png" alt="LASER PUlSE"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" style="color:darkgray" href="{{ .Site.BaseURL }}/faq" target="_blank">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: darkgray;" href="{{ .Site.BaseURL }}/about" target="_blank">About</a>
            </li>
          </ul>
        </div>
      </nav>
</header>
