<header>
  <div style="background-color: #243953;">
    <div class="container" id="top-container">
      <div class="row mt-3 mb-2 align-items-center">
        <div class="col-md-6 col-lg-5">
          <h1 id="egm-title" style="color:steelblue" ><span>LASER PULSE</span><br/>Research & Practicioner Partnership Toolkit</h1>
          <h5 id="egm-tagline" style="color:white">Blindspots in collaborations, discussion guides, & resouce materials to improve research partnerships</h5>
        </div>
        <div class="col-md-6 col-lg-7">
          <p style="color:lightgray">
            This toolkit is organized by blindspot, which is a potential area of conflict due to
            different perspectives of each person involved in a research partnership. Since researchers and
            practitioners have different world views, experiences, and needs these blindspots can occur. Each
            blindspot presents a caricature of what an academic researcher and a practitioner might say and a
            suggested convergence point, or perspective that can ease conflict and improve the partnership.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-md" style="background-color: #243953;"> 
    <!--    <a class="navbar-brand" href="index.html">PSE Evidence Gap Map</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" style="color:darkgray" href="./faq" target="_blank">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: darkgray;" href="./about" target="_blank">About</a>
            </li>
          </ul>
        </div>
      </nav>
</header>
