{{ define "main" }}
<style>
  .card-header{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,216,252,1) 100%);
    height: 25px;
  }
  .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  
  border-left: 18px solid rgb(34, 83,136);
  position: absolute;
  right: -14px;
  top: 98px;
  z-index: 99;
}
  .arrow-down {
  width: 0; 
  height: 0; 
  border-top: 18px solid rgb(34, 83,136);
  border-right: 18px solid transparent;
  
  border-left: 18px solid transparent;
  position: absolute;
  left: 45%;
  bottom: -15px;
  z-index: 99;
}

.card-footer {
  background-color: rgba(0,0,0,0);
}

.rp-card-body {
  min-height: 115px;
  max-height: 115px;
}
</style>

{{ $paginator := (.Paginator 80).Pages}}
<div class="container-fluid">
  <div class="card-deck">
  <div class="card bg-light my-2 mx-1" style="min-width: 12rem;">
    <div class="card-body">
      This is the Research Practicioner toolkit. A helpful introduction message and maybe the old tagline could go here that would explain how to use the tool.
    </div>
  </div>
</div>
  {{ $phase_list := (slice "Preparation" "Exploration" "Negotiation" "Implementation" "Translation")}}
  {{ $phases_desc := (slice "Developing a partnership" "Building shared vision and values" "Planning for mechanisms" "Undertaking work" "Text Needed")}}
<div class="card-deck my-2">
  {{ range $index, $phase := $phase_list}}
  <div class="card bg-{{ lower $phase }} mb-2 mx-1" style="min-width: 12rem;">
    <div class="card-body rp-card-body">
      <h5 class="card-title"><strong>{{ $phase }}</strong></h5>
      <em><p class="card-text" >{{ index $phases_desc $index  }}</p></em>
      <small class="text-muted d-sm-none"><a href="#{{ lower $phase}}blindspots" data-toggle="collapse">Click to Expand Blindspots</a></small>
    </div>
    <div class="card-footer d-sm-none collapse" id="{{ lower $phase }}blindspots">

{{ range $phase := (slice $phase )}}
  {{ range $paginator }}   
    {{ $link := .Permalink}}
    {{ $file := .Params.datafile}}
    {{ $index := .Params.index }}
    {{ if $file }}
        {{ $blindspots := getJSON $file }} 
          {{ $blindspot := index $blindspots $index }}      
            {{ range $bsPhase := $blindspot.partnership_phase }}

              {{ if eq $phase $bsPhase }}
              <p><a href="{{ $link }}">{{ $blindspot.blindspot_name }}</p></a>
            {{ end}}
        {{ end }}
    {{ end }}
    {{ end }}
{{ end }}
    </div>
    <div class="card-footer d-none d-sm-block">

{{ range $phase := (slice $phase )}}
  {{ range $paginator }}   
    {{ $link := .Permalink}}
    {{ $file := .Params.datafile}}
    {{ $index := .Params.index }}
    {{ if $file }}
        {{ $blindspots := getJSON $file }} 
          {{ $blindspot := index $blindspots $index }}      
            {{ range $bsPhase := $blindspot.partnership_phase }}

              {{ if eq $phase $bsPhase }}
              <p><a href="{{ $link }}">{{ $blindspot.blindspot_name }}</p></a>
            {{ end}}
        {{ end }}
    {{ end }}
    {{ end }}
{{ end }}
    </div>
    {{ if ne (add $index 1) (len $phase_list) }}
    <div class="arrow-right d-none d-sm-block"></div>
    <div class="arrow-down  d-sm-none"></div>
    {{ end }}
  </div>

{{ end }}
  
{{ end }}

