{{ define "main" }}
<style>
  .card-header{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,216,252,1) 100%);
    height: 25px;
  }
</style>
<div class="container-fluid">
<div class="card-deck my-2">
  <div class="card bg-preparation mb-2 mx-1" style="min-width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Preparation</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Click to See Challenges</small>
    </div>
  </div>
  <div class="card bg-exploration mb-2 mx-1" style="min-width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Exploration</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Click to See Challenges</small>
    </div>
  </div>
  <div class="card bg-negotiation  mb-2 mx-1" style="min-width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Negotiation</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Click to See Challenges</small>
    </div>
  </div>
  <div class="card bg-implementation mb-2 mx-1" style="min-width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Implementation</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Click to See Challenges</small>
    </div>
  </div>
  <div class="card bg-translation mb-2 mx-1" style="min-width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Translation</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Click to See Challenges</small>
    </div>
  </div>
</div>
</div>

{{ end }}
