{{ define "main" }}

<style>
  table, th, td {
    border: 1px solid black;
    text-align: center;
  }
</style>

<div class="row">
<div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            {{ $file := .Params.datafile}}
            {{ $index := .Params.index }}
            {{ if $file }}
              {{ $blindspots := getJSON $file }} 
              {{ $blindspot := index $blindspots $index }}   
              <h1 class="post-title" itemprop="name headline">{{ $blindspot.blindspot_name }}</h1>
              <span>*phase*</span>
            {{ end }}
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ .Content }}
            {{ $file := .Params.datafile}}
            {{ $index := .Params.index }}
            {{ if $file }}
              {{ $blindspots := getJSON $file }} 
              {{ $blindspot := index $blindspots $index }}  
              <table>
                <thead>
                  <tr>
                    <th>Researcher perspective</th>
                    <th>Practitioner perspective</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ $blindspot.academic_perspective }}</td>
                    <td>{{ $blindspot.practitioner_perspective }}</td>
                  </tr>
                </tbody>
              </table>
              <table>
                <thead>
                  <tr>
                    <th text-align="center">Convergence Point</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ $blindspot.convergence_opportunities }}</td>
                  </tr>
                </tbody>
              </table>
            {{ end }}
          </div>

    </article>
    <div class="row">
        {{ if .Site.Params.disqus }}
         {{ partial "disqus.html" . }}
        {{ end }}
    </div>
    

</div>


<!-- {{ partial "sidebar.html" . }} -->

</div>


{{ partial "fb-script.html" . }}
{{ end }}
